.content-header{
  padding: 10px 0px;
}

.breadcrumb {
  display: flex;
  list-style: none;
}

p {
  display: inline;
}


.order-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 24px;
  width: 600px;
  border-radius: 4px;
  margin-left: 10px;
  background-color: rgba(128, 199, 206, 0.75);
  color: white;
  
}