/* .ant-card-body{
    display: block;
    z-index: 999;
}
.img1{
    width: 200px;
    height: 200px;
}
.option{
    display: block;
    margin-left: 10px;
}
.where-togo-area{
    margin-top: 40px;
}
.price{
    color: rgb(0, 193, 222);
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    bottom: 35px;
    right: 69px;
    margin-bottom: 40px;
   
}
.ant-row-center{
    margin-left: 75px;
}
.ant-col{
    padding-bottom: 30px;
}
.isnew{
    
    background: red;
    position: absolute;
    top: 32px;
    left: -26px;
    width: 352px;
    height: 38px;
    font-weight: 500;
    color: darkblue;
   padding-left: 10px;
    clip-path: polygon;
    clip-path: polygon(0% 0%,165% 0%,100% 0%,85% 0%, 0% 373%);
    display: flex;
    align-items: center;
    z-index: 999;
}
.rong{
    background: red;
    
    position: absolute;
    top: 38px;
    left: -22px;
    height: 42px;
    width: 99px;
    transform: rotate( 
-35deg
 );
    z-index: -1;
}
.book{
    margin-left: 207px;
    margin-bottom: 23px;
}
.comment{
    border: none;
    margin-top: 27px;
    font-weight: 500;
    margin-left: 265px;
} */
.ALLROOM{
    display: flex;
    
}

h2{
    
    width: 156px;

}
.optiondetail2{
    display: block;
}
.price{
    color: rgb(0, 193, 222);
    font-size: 30px;
    font-weight: bold;
   margin-bottom: -27px;
   margin-right: 10px;
   
}
.book{
    margin-left: 65px;
}
.img2{
    width: 400px;
    height: 100%;
}
.img3{
    width: 100%;
    margin-top: 5px;
}
.img4{
    width: 100%;
    margin-left: -161px;
}
.layout{
    background-color: red;
    width: 75%;
}
.layout2{
    width: 100%;
    background-color: blue;
}
.timkiem{
    /* position: fixed;
    top: 67px;
    left: 0; */
    margin-bottom: 10px;
    margin-top: 2px;
    /* z-index: 999; */
}
.content-header{
    height: 35px;
}
