.buttom{
    height: 200px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(68, 91, 128,0.5); ;
    margin-top: 25px;
}
.keyword{
    display: block;
    width: 230px;
}
.content{
    display: block;
}
.noteFooter{
    width: 100%;
    font-weight: 700;
    margin-bottom: 10px;
}
.iconMXH{
    font-size: 60px;
    color: blue;
}
.chuaicon{
    display: flex;
}