.ant-card-body{
    display: block;
}
.optiondetail{
    display: flex;
}
.img1{
    width: 200px;
    height: 200px;
}
.option{
    display: block;
    margin-left: 10px;
}
.where-togo-area{
    margin-top: 40px;
}